# Python local environment and caches
env/
backend/__pycache__/
backend/.pytest_cache/
.pytest_cache/
*.py[cod]

# OS specific files
.DS_Store

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/